*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  touch-action: none;
}
canvas {
  cursor: pointer;
}
body {
  overflow: hidden;
}
main {
  position: fixed;
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  color: #ffffff;
  font-family: cursive;
  background: linear-gradient(to bottom, #22222277, #13131377);
}
label {
  font-size: 0.6rem;
}

input {
  position: relative;
  width: 3rem;
  height: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  border: none;
  color: #ffffff;
  font-weight: 700;
  outline: none;
  background: transparent;
  border-bottom: solid 1px #aaaaaa;
}

@media only screen and (min-width: 500px) {
  main {
    height: 50px;
  }
  label {
    font-size: 1rem;
  }

  input {
    width: 5rem;
    font-size: 1rem;
  }
}
